body {
    background-color:#111;
    color: #ddd;
}

.name {font-weight: bold;}
#chat-list li {list-style-type: none;padding-bottom: 0.5em;}
#chat-list li:nth-child(even) {background-color:#252525;}


#chat-list
{
  display:block;
  padding-left: 0px;
  padding-bottom: 1em;
  font-family: sans-serif;
  color: white;
  list-style-type: none;


}

ul > :first-child
{
  margin-top: auto;
}

a {
	color: #fff;
}

img
{
  height: 1.25em;
  margin:  0px -1px;
  vertical-align: bottom;
}
.icon
{
  height: 1.25em;
  margin:  0px 1px;
  vertical-align: bottom;
}

#donate-list
{
  display:block;
  padding-left: 0px;
  padding-bottom: 1em;
  font-family: sans-serif;
  color: white;
  list-style-type: none;


  border-bottom: solid 3px #f00;
}

#donate-list .name
{
  margin-right: 1em;
  color: red;
}

#donate-list li {list-style-type: none;padding-bottom: 0.5em;}
#donate-list li:nth-child(even) {background-color:#252525;}
